 ## ðŸ“˜Python Assignment â€“ File Operations & Functions
-   Machine Learning Diploma â€“ Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name :

1. Add an item to a tuple

In [2]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
# your code here
my_list = list (my_tuple)
my_list.append(4)
new_tuple = tuple(my_list)
print(new_tuple)

(1, 2, 3, 4)

{Hint}: Tuples cannot change. Convert to list â†’ modify â†’ tuple.

2. Sum all the items in a list

In [3]:
numbers = [5, 10, 15, 20]

# TODO: loop through athe list and calculate the total
total = 0  
# your code here
for i in numbers:
    total+= i
print(total)

# Hint: Use a for loop and accumulate values into total.

50

3. Multiply all items in a list

In [ ]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
# your code here
for i in numbers:
    result *= i
print(result)
# Hint: Start from 1 and multiply one element at a time.

24

4. Get the smallest number from a list

In [5]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
# your code here
for i in numbers:
    if smallest > i:
        smallest = i

print(smallest)
# Hint: Replace smallest when you find a smaller value.

1

5. Get the largest number from a list

In [6]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
# your code here
for i in numbers:
    if largest < i:
        largest = i

print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

25

6. Count number of strings with length â‰¥ 2

In [7]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
# your code here
for i in words:
    if len(i) >=2 :
        count+= len(i)
print(count)
# Hint: Use len(word) and a condition.

11

7. Clone or copy a list

In [9]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here
cloned = original.copy()
print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4]

8. Remove item(s) from a set

In [12]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
# your code here
my_set.remove(1)
my_set.discard(2)
print(my_set)
# Hint: Use remove() or discard().

{3, 4, 5}

9. Check if a set is subset of another

In [17]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
# your code here
set1.issubset(set2)


# Hint: Use .issubset() or compare elements manually.

True

10. Remove all elements from a set

In [19]:
my_set = {1, 2, 3}

# TODO: clear the set
# your code here
my_set.clear()
print(my_set)

# Hint: Sets have a method that makes them empty.

set()

11. Find max and min values in a set

In [21]:
my_set = {10, 3, 25, 1, 7}
new_list = list(my_set)

# TODO: find max and min manually
# your code here
maximum = new_list[0]
minimum = new_list[0]
for i in new_list:
    if maximum < i :
        maximum = i
    if minimum > i :
        minimum = 1
print("Max:", maximum)
print("Min:", minimum)
# Hint: Convert to a list or loop through items.

Max: 25
Min: 1

12. Find the index of an item in a tuple

In [22]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
# your code here
index_value = my_tuple.index(30)
print(index_value)
# Hint: Tuples have a method for this.

2

13. Convert a tuple to a dictionary

In [23]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
# your code here
my_dict = dict(my_tuple)
print(my_dict)
# Hint: A dictionary can be built directly from pairs.

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a list of tuples into individual lists

In [24]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here
list1 = []
list2 = []
for i in pairs:
    list1.append(i[0])
    list2.append(i[1])
print(list1)
print(list2)
# Hint: You can loop OR use zip(*pairs).

[1, 3, 5]
[2, 4, 6]

15. Reverse a tuple

In [25]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
# your code here
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)
# Hint: Use slicing.

(5, 4, 3, 2, 1)

16. Convert a list of tuples into a dictionary

In [26]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
# your code here
my_dict = dict(pairs)
print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

{'a': 1, 'b': 2, 'c': 3}

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [28]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
# your code here
for i in data:
    new = list(i)
    new[-1] = 100
    new_list.append(tuple(new))
print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a tuple by its float element

In [ ]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

# TODO: sort by the float value
# your code here
sorted_items = sorted(items , key= lambda x :x[1])
print(sorted_items)
# Hint: Use sorted() with a key function.

[('item2', 5.7), ('item3', 8.9), ('item1', 10.5)]

## challenge part

Find the longest word in a list

In [ ]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word
longest = max (words , key=len)
print(longest)
# Hint: Track the word with the largest len().

fantastic

Merge two dictionaries

In [41]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# TODO: merge into one dictionary
d1.update(d2)
d1
# Hint: Use unpacking or update().

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Sum values in a dictionary

In [44]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values
total = sum(data.values())
print(total)

60

solution

In [ ]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

New Challenge

In [45]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = 0    # TODO: start total at 0

for student_data in scores.values():# TODO: loop over values of the dictionary
    for score in student_data.values(): # TODO: loop over inner dictionary values
        total +=score              # TODO: update the total

print(total)       # TODO: print the result

#hint you will need nested for loop one

510